.title {
  color: #000000;
  text-align: center;
}

.table-container {
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .styled-table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .styled-table thead {
    background-color: #47A0FF;
    color: white;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #47A0FF;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
  }
  
  .pagination span {
    align-self: center;
  }
  
  @import"https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";body {
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
    margin: 0 auto
}

.rdt_TableRow {
    padding: 10px
}

.containerDT {
    margin-right: 50px;
    margin-left: 50px;
    font-family: Roboto,sans-serif;
    position: relative;
    top: -100px
}

@media (max-width: 1000px) {
    .containerDT {
        margin-right:5px;
        margin-left: 5px;
        top: -10px
    }
}

header {
    background-color: #fff;
    border-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%
}

.row {
    font-size: 14px;
    cursor: pointer
}

.row-selected {
    background-color: #0000000d
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 5%
}

.subheader {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap
}

.subheader-icon {
    margin-left: 25%;
    margin-right: 1%
}

.subheader-text {
    align-items: left;
    text-align: left
}

a:-webkit-any-link {
    color: #006da6;
    cursor: pointer;
    text-decoration: none
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #eee;
    border-radius: 20px
}

.switch:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: all .3s
}

.checkbox:checked+.switch:after {
    left: 20px
}

.checkbox:checked+.switch {
    background-color: #006da6
}

.checkbox {
    display: none
}

.titulodiv {
    padding-top: 100px;
    display: flex;
    background-color: #006da6;
    width: 100%;
    margin-top: 0;
    height: 300px;
    justify-content: center
}

.tituloboletines {
    font-size: 58px;
    color: #f0f8ff;
    bottom: 0;
    font-weight: 700;
    position: relative
}

@media (max-width: 1000px) {
    .titulodiv {
        text-align:center
    }

    .tituloboletines {
        margin-top: 85px
    }
}

.menu-container {
    position: relative;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #cacaca55;
    height: 80px
}

.logo-container img {
    max-height: 40px
}

.icons-container {
    display: flex;
    align-items: center;
    margin-left: 500px
}

.user-icon,.search-icon {
    margin-right: 60px;
    cursor: pointer
}

.user-icon svg,.search-icon svg {
    width: 20px;
    height: 20px;
    fill: #000
}

.popover-content {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #0000001a;
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px;
    display: none
}

.popover-content {
    display: block
}

.bars {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #3f91ba;
    transition: transform .3s,opacity .3s;
    display: block
}

.user-icon-container {
    position: relative
}

.user-icon-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 1.25px;
    height: 80%;
    background-color: #ccc
}

body {
    font-family: Roboto,sans-serif
}

.popover {
    margin-left: 30px;
    padding: 0 25px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    left: auto;
    margin-right: 30px;
    right: 30px;
    position: absolute;
    border: 1px solid #eeeeee;
    background-color: #fff;
    z-index: 1000
}

.column {
    flex: 1;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    font-family: Roboto,sans-serif
}

.blue {
    color: #07244d;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 800
}

.blues {
    color: #07244d;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    margin-right: 25px
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0
}

.popover a:hover {
    text-decoration: none
}

.lista {
    margin-top: 5px
}

.lista a {
    color: #888;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 14px
}

.center {
    padding-top: 75px;
    justify-content: center;
    align-items: center
}

h3 {
    text-decoration: none!important;
    font-family: Roboto,sans-serif;
    font-weight: 700
}

.news-row {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.news-row h3 {
    margin-right: 20px
}

.news-images {
    display: flex;
    align-items: center
}

.news-images img {
    width: 200px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    margin-right: 10px
}

.news-row ul {
    list-style: none;
    padding: 0
}

.news-row ul li {
    margin-bottom: 5px
}

@media (max-width: 1000px) {
    .popover {
        display:none
    }
}

@media (max-width: 1000px) {
    .popover {
        right:auto;
        left: 0
    }
}

body {
    margin: 0
}

.mobile-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
    background-color: #fff;
    box-shadow: 0 2px 1px #0000000c;
    height: 80px;
    width: 100vw;
    z-index: 1000
}

.logo {
    padding: 25px
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 35px
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #3f91ba;
    transition: transform .3s,opacity .3s;
    display: block
}

.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}

.open .bar:nth-child(2) {
    opacity: 0
}

.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}

.menu-options {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100vw;
    transform: translate(100%);
    transition: transform .3s ease-in-out;
    border-bottom: 1px solid #ddd
}

.open .menu-options {
    margin-top: 20px;
    display: block;
    transform: translate(0)
}

.menu-options ul {
    list-style: none;
    padding: 0
}

.menu-options li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 50px;
    position: relative
}

.menu-options a {
    text-decoration: none;
    color: #000
}

.arrow {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
    float: right;
    transition: transform .5s
}

.arrow.open {
    transform: rotate(-90deg);
    margin-left: 10px
}

.menu-options ul {
    list-style: none;
    padding: 0;
    position: relative
}

.menu-options li {
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 50px;
    position: relative
}

.menu-options li:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #ddd;
    bottom: -5px;
    left: 0
}

.footer {
    background-color: #fff;
    padding: 30px 0;
    border: 1px solid #ebebeb
}

body {
    font-family: "San Serif",sans-serif
}

h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: Blog,sans-serif;
    color: #002c6e;
    font-weight: 700;
    line-height: 1.5
}

.address {
    color: #000;
    font-weight: 700;
    line-height: 1.5
}

.contact-info div {
    color: gray;
    line-height: 1.5
}

.social-icons {
    display: flex
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    background-color: #e74c3c;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 75px
}

.contact-info div {
    margin-bottom: 5px;
    line-height: 2;
    font-size: 14px
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}

.col-sm-3 {
    flex-basis: 25%;
    /* padding: 0 15px; */
    justify-content:left;
    margin-right: 20px;
    display:flex;
    align-items: left;
    /* flex: 1; */
    /* margin: 0 5px; */

}

.logo-container img:first-child {
    width: 50%;
    height: auto
}

.logo-container img:last-child {
    width: 50%;
    height: auto
}

.divider {
    border: 1px solid #ebebeb;
    margin: 20px 0
}

.santo-domingo {
    font-weight: 700;
    font-size: 14px;
    line-height: 2
}

.footer-bottom {
    background-color: #f6f6f6;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
    width: 100%
}

.rights-reserved {
    color: #969696;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 25px
}

@media screen and (max-width: 768px) {
    .col-sm-3 {
        flex-basis:50%
    }

    .row {
        flex-wrap: wrap
    }
}

@media screen and (max-width: 1000px) {
    .row {
        flex-wrap:wrap
    }
}

@media screen and (max-width: 576px) {
    .col-sm-3 {
        flex-basis:100%
    }
}

.footer-container .col-sm-3 {
  flex: 1;
  margin: 10px;
  min-width: 250px; /* Adjust based on your design */
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1; /* Adjust based on your design */
}

.footer-bottom .rights-reserved {
  margin: 0;
}

/* styles.css */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 250px; /* Adjust based on your design */
  }
  
.footer-bottom .rights-reserved {
    margin: 0;
  }
  
  .text-gray {
    color: gray;
  }
  
  .santo-domingo {
    font-style: italic;
  }
  
  .social-icons .icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .contact-info div {
    margin-bottom: 10px;
  }
